::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.contractica-font {
    font-family: TBC Contractica CAPS medium, sans-serif;
}

table {
    border: solid 1px black !important;
}
th,
td {
    border-right: solid 1px black !important;
}
.account-table thead tr th,
.account-table tbody tr td {
    font-size: 10px !important;
}
.edit-label {
    font-size: 18px;
}
/* The Modal (background) */
.modalnew {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 2%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-contentnew {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 100% !important;
    max-width: 520px !important;
    border-radius: 7px !important;
}

.Comment {
    width: 100% !important;
    max-width: 100px !important;
    overflow: auto !important;
}
.Comment::-webkit-scrollbar {
    height: 5px;
}

.new-checklist {
    border-bottom: solid 1px LightGrey !important;
}

@media only screen and (max-width: 1000px) {
    .rollerModalTables {
        display: block !important;
    }
    .rollerModalTablesDiv {
        width: 100% !important;
    }
    .rollerModalTablesDiv1 {
        width: 100% !important;
        margin-top: 20px !important;
    }
}

.all-employee-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* border: solid 1px red; */
}

.all-employess-text {
    line-height: 30px;
    margin-left: 20px;
    font-family: "Nunito";
    font-size: 12pt;
    font-weight: bold;
}

.ptojects-div {
    width: 100%;
    margin-top: 30px;
    /* border: solid 1px grey; */
}

.ptojects-div-header {
    color: grey;
    font-size: 10pt;
}

.projects {
    margin-top: 20px;
}

.project {
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.project-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* border: solid 1px red; */
}

.project-icon p {
    font-family: "Nunito";
    font-size: 10pt;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.project-modal {
    border-radius: 50px !important;
}

.image-header::before {
    position: absolute;
    width: 100%;
    content: "";
    z-index: -2;
    top: -6vh;
    right: 0;
    bottom: -4vh;
    max-width: 59.7%;
    opacity: var(--opacity-bg-dots);
    background-image: radial-gradient(var(--color-dots) 6%, transparent 0);
    background-size: 28px 28px;
}

.register_modal {
    background-color: white !important;
}

.message-div:hover {
    /* background-color: #7b64e7; */
    cursor: pointer;

    background: #4776e6;
    background: -webkit-linear-gradient(to right, #4776e6, #8e54e9);
    background: linear-gradient(to right, #4776e6, #8e54e9);
}

.message-div:hover .message-icon {
    stroke: white;
}

.message-div:hover .message-text {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.user-notification {
    position: absolute;
    display: none;
    z-index: 999;
    width: 340px;
    height: 400px;
    border-radius: 7px;
    top: -60px;
    left: 280px;

    background-color: #f2f5fa;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    animation: fadein 0.5s;
    overflow-y: scroll;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.user-notification-user-card {
    width: 100%;
    height: 60px;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    display: flex;
    position: relative;
}

.user-notification-user-card:hover {
    background-color: #edf4fe;
    cursor: pointer;
}
